@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global variables */
:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --font-sans: 'Poppins', sans-serif;
}

/* Global base styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
