<<<<<<< HEAD
/* src/app/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

>>>>>>> f6300795dd69e71e1abaa67abacfe9f0ca206ea6
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
}
